/* Reset de estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos del menú */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px; /* Ajusta el espacio entre elementos según tu preferencia */
}

nav ul li a {
  text-decoration: none;
  color: black; /* Cambia el color de los enlaces según tu preferencia */
}

/* Estilos para el formulario */

.form-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.form-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.error-message {
  color: #dc3545;
}

.forgot-password-link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}